body{
  background-size: cover;
  font-family: "Roboto", serif;
}
#forms12{
  padding: 70px;
  max-width: 75%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", serif;
}

.blog-header-logo {
  font-family: "Roboto", serif;
  font-size: 2.25rem;
}

.carousel-item {
  height: 30vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   margin-bottom: 2rem;
  
}

form {
	
	  font-family: "Roboto", serif;
}